html {
  /* Base font size to use with rem */
  font-size: 10px;
  /* Font family to be used for the entire document */
  font-family: liberation-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  /* Font size for the body */
  font-size: 1.3rem;
}

/* Removing text decoration by default */
a {
  text-decoration: none;
}

/* Only displaying the text decoration upon hovering */
a:hover {
  text-decoration: underline;
}

/* Properties for the navigation bar */
nav {
  padding: 0.85rem 1.85rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Applying margin to all items in the nav bar */
nav > * {
  margin: 0.85rem;
}

/* Setting color to be applied to hyperlinks in the navigation bar */
nav > a {
  color: #27272f;
}

/* Properties for the app menu icon */
#app-menu {
  vertical-align: middle;
  font-size: 24px;
  color: #727272;
}

/* Properties for the app menu icon upon hovering */
#app-menu:hover {
  cursor: pointer;
  color: #262626;
}

/* Properties for the Sign-in button */
#sign-in {
  border: 1px solid #4386f9;
  border-radius: 0.2rem;
  padding: 0.7rem 1.1rem;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: white;
  background-color: #4386f9;
}

/* Properties for the Sign-in button upon hovering */
#sign-in:hover {
  box-shadow: 0 1px 0 0 #d9d9d9;
}

/* Properties applied on Sign-in button upon activating it, i.e action of pressing it */
#sign-in:active {
  box-shadow: inset 0 2px 0 #3367c1;
  background-color: #3c78df;
}

/* No outline when focussed on the Sign-in button */
#sign-in:focus {
  outline: none;
}

/* Properties for all footer */
footer {
  font-size: 1.43rem;
}

/* Properties related to the 1st Footer */
#footer-1 {
  position: fixed;
  bottom: 4rem;
  left: 0;
  border-top: 1px solid #dadce0;
  width: 100%;
  padding: 0 3rem;
  background-color: #f2f2f2;
}

/* Properties related to the text within the 1st footer */
#footer-1 > p {
  color: #717171;
  /* Aligning the text to the center */
  margin: 0;
  line-height: 4rem;
}

/* Properties related to the 2nd Footer */
#footer-2 {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  border-top: 1px solid #dadce0;
  width: 100%;
  height: 4rem;
  padding: 0 3rem;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Setting color of the hyperlinks */
#footer-2 > div > a {
  color: #70757a;
}

/* Setting color of the hyperlinks when active */
#footer-2 > div > a:active {
  color: #ea4335;
}

/* Setting margin for the hyperlinks on the left within 2nd footer */
#left-footer-2 > a {
  margin-right: 2.25rem;
}

/* Setting margin for the hyperlinks on the right within 2nd footer */
#right-footer-2 > a {
  margin-left: 2.25rem;
}
